# Athletic Sales Analysis

In [1]:
import pandas as pd

## Combine and Clean the Data

In [2]:
df_2020 = pd.read_csv("athletic_sales_2020.csv")
df_2021 = pd.read_csv("athletic_sales_2021.csv")

In [3]:
print(df_2020.info())
print(df_2021.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8346 entries, 0 to 8345
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          8346 non-null   object
 1   retailer_id       8346 non-null   int64
 2   invoice_date      8346 non-null   object
 3   region            8346 non-null   object
 4   state             8346 non-null   object
 5   city              8346 non-null   object
 6   product           8346 non-null   object
 7   price_per_unit    8346 non-null   int64
 8   units_sold        8346 non-null   int64
 9   total_sales       8346 non-null   int64
 10  operating_profit  8346 non-null   float64
 11  sales_method      8346 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 782.6+ KB
None

In [4]:
combined_df = pd.concat([df_2020, df_2021], axis=0, ignore_index=True)
print(combined_df.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [5]:
print(combined_df.isnull().sum())
combined_df.dropna(inplace=True)

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [7]:
print(combined_df['invoice_date'].head())

0   2020-01-01
1   2020-01-01
2   2020-01-01
3   2020-01-01
4   2020-01-01
Name: invoice_date, dtype: datetime64[ns]

In [8]:
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'], format='%Y-%m-%d')

In [9]:
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   datetime64[ns]
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 904.2+ KB
None

## Determine Which Region Sold the Most Products

In [10]:
region_sales = combined_df.groupby(['region', 'state', 'city']).size().reset_index(name='total_products_sold')

In [11]:
region_sales_sorted = region_sales.sort_values('total_products_sold', ascending=False).head(5)
print(region_sales_sorted)

       region      state           city  total_products_sold
27      South   Arkansas    Little Rock                  216
40  Southeast   Virginia       Richmond                  216
32      South      Texas         Dallas                  216
31      South  Tennessee      Knoxville                  216
30      South   Oklahoma  Oklahoma City                  216

## Determine Which Region Had the Most Sales

In [12]:
region_total_sales = combined_df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index(name='total_sales')

In [13]:
region_total_sales_sorted = region_total_sales.sort_values('total_sales', ascending=False).head(5)
print(region_total_sales_sorted)

       region           state           city  total_sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

## Determine Which Retailer Had the Most Sales

In [14]:
retailer_sales = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index(name='total_sales')

In [15]:
retailer_sales_sorted = retailer_sales.sort_values('total_sales', ascending=False).head(5)
print(retailer_sales_sorted)

        retailer     region           state           city  total_sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

## Determine Which Retailer Sold the Most Women's Athletic Footwear

In [17]:
print(combined_df.columns)

Index(['retailer', 'retailer_id', 'invoice_date', 'region', 'state', 'city',
       'product', 'price_per_unit', 'units_sold', 'total_sales',
       'operating_profit', 'sales_method'],
      dtype='object')

In [18]:
print(combined_df['product'].unique())

["Men's Street Footwear" "Women's Apparel" "Men's Athletic Footwear"
 "Women's Street Footwear" "Women's Athletic Footwear" "Men's Apparel"]

In [19]:
womens_footwear = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

In [20]:
womens_footwear_sales = womens_footwear.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index(name='total_sales')

In [21]:
womens_footwear_sales_sorted = womens_footwear_sales.sort_values('total_sales', ascending=False).head(5)
print(womens_footwear_sales_sorted)

        retailer     region           state           city  total_sales
101    West Gear       West      California  San Francisco      4558561
22   Foot Locker  Northeast        New York       New York      3433814
49        Kohl's       West      California    Los Angeles      3350432
107    West Gear       West      Washington        Seattle      3300656
33   Foot Locker  Southeast  South Carolina     Charleston      3090484

## Determine the Day with the Most Women's Athletic Footwear Sales

In [22]:
daily_sales = womens_footwear.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum')

In [23]:
daily_sales_resampled = daily_sales.resample('D').sum().sort_values('total_sales', ascending=False).head(10)
print(daily_sales_resampled)

              total_sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
2021-11-17        1021145
2021-12-09         915011
2021-06-24         884238
2021-07-09         869054
2021-08-10         839120

## Determine the Week with the Most Women's Athletic Footwear Sales

In [24]:
weekly_sales_resampled = daily_sales.resample('W').sum().sort_values('total_sales', ascending=False).head(10)
print(weekly_sales_resampled)

              total_sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602